<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Postgres" connectionString="Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=" />
  </connectionStrings>
  <appSettings>
    <add key="Substrate" value="wss://kusama-rpc.polkadot.io/" />
  </appSettings>
</configuration>
