<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Postgres" connectionString="Host=localhost;Port=5432;Database=postgres;Username=postgres;Password=123456" />
  </connectionStrings>
  <appSettings>
    <add key="Substrate" value="ws://127.0.0.1:9944/" />
    <add key="StartBlockNum" value="3694" />
    <add key="ParseAttemptTimeoutMs" value="5000" />
  </appSettings>
</configuration>
